<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="title text-center">Registro de Empleado</h3>
                    </div>
                </div>  
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="title"> {{title}} </h5>
                        <form [formGroup]="form" (ngSubmit)="agreagarEmpleado() ">
                            <div class="input-group mb-3">
                                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre" [class.green-icon]="this.form.get('nombre')?.valid" [class.red-icon]="this.form.get('nombre')?.invalid && this.form.get('nombre')?.touched" onkeydown="return /[a-z ]/i.test(event.key)">
                            </div>
                            <div class="input-group mb-3">
                                <input formControlName="apellido" type="text" class="form-control" placeholder="Apellido"[class.green-icon]="this.form.get('apellido')?.valid" [class.red-icon]="this.form.get('apellido')?.invalid && this.form.get('apellido')?.touched" onkeydown="return /[a-z ]/i.test(event.key)">
                            </div>
                            <div class="input-group mb-3">
                                <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula" [class.green-icon]="this.form.get('cedula')?.valid" [class.red-icon]="this.form.get('cedula')?.invalid && this.form.get('cedula')?.touched" >
                            </div>
                            <div class="input-group mb-3">
                                <input formControlName="cargo" type="text" class="form-control" placeholder="Cargo"[class.green-icon]="this.form.get('cargo')?.valid" [class.red-icon]="this.form.get('cargo')?.invalid && this.form.get('cargo')?.touched" onkeydown="return /[a-z ]/i.test(event.key)">
                            </div>
                            <div class="input-group mb-3">
                                <input formControlName="numero" type="text" class="form-control" placeholder="Numero"[class.green-icon]="this.form.get('numero')?.valid" [class.red-icon]="this.form.get('numero')?.invalid && this.form.get('numero')?.touched">
                            </div><div class="input-group mb-3">
                                <input formControlName="direccion" type="text" class="form-control" placeholder="Direccion"[class.green-icon]="this.form.get('direccion')?.valid" [class.red-icon]="this.form.get('direccion')?.invalid && this.form.get('direccion')?.touched" onkeydown="return /[a-z ]/i.test(event.key)">
                            </div>
    
                            <div class="d-grid gap-2">
                                <button  type="submit" class="btn btn-success bg-primary btn-lg"[disabled]="this.form.invalid">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="title">Listado de Empleados</h5>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Nombre</td>
                                    <td>Apellido</td>
                                    <td>Cedula</td>
                                    <td>Cargo</td>
                                    <td>Numero</td>
                                    <td>Direccion</td>
                                    <td>Editar</td>
                                    <td>Eliminar</td>
                                </tr>
    
    
                                <tr *ngFor="let Empleados of empleado; let i = index">
                                    <td>{{Empleados.nombre}}</td>
                                    <td>{{Empleados.apellido}}</td>
                                    <td>{{Empleados.cedula}}</td>
                                    <td>{{Empleados.cargo}}</td>
                                    <td>{{Empleados.numero}}</td>
                                    <td>{{Empleados.direccion}}</td>
                                    <td><i class="fa-regular fa-pen-to-square text-info ed" (click)="editarEmpleado(Empleados)"style="cursor: pointer;"></i></td>
                                    <td class="el"><i class="fa-regular fa-trash-can text-danger" (click)="eliminar(Empleados.id)"style="cursor: pointer;"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
