@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
.logo{
    max-width: 75px;
    min-height: 75px;
}
.navbar-brand{
    font-size: 40px;
    font-weight: 700;
    color: #eacf4f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.q{
	background:black;
}