<div class="container">
    <div class="container-title">
        <h1 class="title"><a routerLink="/">Cafeteria Paraiso</a></h1>
    </div>
    <div class="navigation">
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/empleados">Empleado</a></li>
            <li><a routerLink="/ventas">Ventas</a></li>
            <li><a routerLink="/clientes">Clientes</a></li>
            <li><a routerLink="/pedidos">Pedidos</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
    </div>
</div>