<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <form [formGroup]="formSingIn" (ngSubmit)="ingresar()">
            <div class="group">
              <label for="user" class="label">Username</label>
              <input id="user" type="text" class="input" formControlName="User">
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input id="pass" type="password" class="input" data-type="password" formControlName="Pass">
            </div>
            <div class="group">
              <input type="submit" class="button" value="Sign In" [disabled]="this.formSingIn.invalid"  >
            </div>
  
            <div class="hr"></div>
            <div class="foot-lnk">
              <label for="tab-2"><a>No tienes una cuenta? Registrate</a></label>
            </div>
          </form>
          
        </div>
        <div class="sign-up-htm">
         <form [formGroup]="formSingUp" (ngSubmit)="registrar()">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" type="text" class="input" formControlName="User">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password" formControlName="Pass">
          </div>
          <div class="group">
            <label for="pass" class="label">Email Address</label>
            <input id="pass" type="text" class="input" formControlName="email">
          </div>
          <div class="group">
            <input type="submit" class="button" value="Sign up" [disabled]="this.formSingUp.invalid">
          </div>
         </form>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1"><a>Ya tienes una cuenta? Inicia sesion</a></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>