*{
    margin:0;
   
}

body{
    background-image: url(assets/IMG/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #669999;
    min-height: 100%;
    

   
}